.space {
    margin-top:24px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    .title{
        height:30px;
    }
    .description {
        height: 110px;
        margin:10px 0;
    }
    a {
        button {
            margin-top:20px;
        }
    }
}

.image {
    width:150px;
    img {
        width: 100%;
    }
}
