.titleshow {
    font-size: 40px;
}

.image-show {
    width: 1000px;
    height:400px;
    img {
        width:100%;
        height:100%;
    }
}

.testo-articolo {
    margin-top: 20px;
}

.specifiche {
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .uno {
        display: flex;
        align-items: center;
    }
    .data {
        font-size: 18px;
        font-weight: bold;
    }
    .age {
        font-weight: lighter;
        margin-left:10px;
    }
    .email {
        font-weight: lighter;
        margin-left:10px;
    }
}
